<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Coach For Success - Review Complete</title>
</head>
<body>
    <table style="width:45%; height:100%; margin:0 auto; border:2px solid #006600; padding:0px; border-collapse: collapse;">
        <tr>
            <td style="background:#f6f8fa; height:175px; padding:0px; margin:0px;">
                <div style="text-align:center; padding:30px 0 0 0;"><a href="https://coachforsuccess.com.au/" target="_blank"></div>
                <div><h3 style="font-size:25px; color:#000; padding:15px 0; text-align:center;">Review Complete</h3></div>
            </td>
        </tr>
        <tr>
            <td style="text-align:left; padding:0 60px;">
                <h4 style="font-size:20px; color:#868686; padding:25px 25px 0px 0px; margin:15px 0 0 0;">Employee review has been completed for the current fiscal year 2021. Take a moment to review it.</h4>
            </td>
        </tr>
        <tr>
            <td style="text-align:left; padding:0 60px; margin:0 35px;">
                <h4 style="border:1px solid #ccc; padding:20px 35px 40px 35px; font-size:22px;">
                    <p style="padding:0px 0 0 15px; color:#000; width:355px; float:left; vertical-align:top; margin:0px; font-size:20px; font-weight:400;" th:text="${newPassword}"></p>
                    <div style="clear:both;"></div>
                </h4>
            </td>
        </tr>
    </table>
</body>
</html>
